extends layout

block content
    .container
        .row
            .col-md-3
            .col-md-6

        h3 Acc List
        //- button#get-button Refresh table
        //- br
        //- button#Create-button Add (Create)

        hr
        table.table.media(border="1")
            tr
                th.media Id
                th.media User Name
                th.media Full Name
                th.media Role
                th.media C
                th.media R
                th.media U
                th.media D
            each acc in users
                tr
                    td.media.id #{acc.id}
                    td.media #{acc.username}
                    td.media #{acc.fullname}
                    td.media #{acc.role}
                    td.media -
                    td.media
                        a(href="/account/" + acc.id)
                            button.btn.btn-primary.btn-block Get user info
                    td.media
                        button.btn.btn-primary.btn-block.update-button Edit user info
                    td.media
                        button.btn.btn-primary.btn-block.delete-button Delete user

        .container
            .row.main
                .main-login.main-center
                    h5 Test form 1
                    form#create-form(method='post', action='#')
                        .form-group
                            label.cols-sm-2.control-label(for='name') User Name
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-user.fa(aria-hidden='true')
                                    input#name.form-control(type='text', name='name', placeholder='Enter user Name')
                        .form-group
                            label.cols-sm-2.control-label(for='email') User Email
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-envelope.fa(aria-hidden='true')
                                    input#email.form-control(type='text', name='email', placeholder='Enter user Email')
                        .form-group
                            label.cols-sm-2.control-label(for='role') User Role
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-users.fa(aria-hidden='true')
                                    input#role.form-control(type='text', name='role', placeholder='Enter user Role')
                        .form-group
                            label.cols-sm-2.control-label(for='password') Password
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-lock.fa-lg(aria-hidden='true')
                                    input#password.form-control(type='password', name='password', placeholder='Enter user Password')
                        .form-group
                            label.cols-sm-2.control-label(for='confirm') Confirm Password
                            .cols-sm-10
                                .input-group
                                    span.input-group-addon
                                        i.fa.fa-lock.fa-lg(aria-hidden='true')
                                    input#confirm.form-control(type='password', name='confirm', placeholder='Confirm user Password')
                        .form-group
                            a#Create-button.btn.btn-primary.btn-lg.btn-block.login-button(href='#', type='submit') Submit 
                            //-target='_blank'
