doctype html
html
    head
        // If IE use the latest rendering engine
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        // Set the page to the width of the device and set the zoom level
        meta(name='viewport', content='width = device-width, initial-scale = 1')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        // Website CSS style
        //link(href='css/bootstrap.min.css', rel='stylesheet')//get local libs to be sure
        // Website Font style
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
        // Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Passion+One', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Oxygen', rel='stylesheet', type='text/css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src='/javascripts/scripts.js')
        title Welcome
    body
        block content
//create footer! locate scripts here!
